<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>Civic AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            Civic AI
        </a>

        <div>

            <a class="btn btn-light btn-sm me-2"
               href="/">
                Submit Report
            </a>

            <a class="btn btn-warning btn-sm me-2"
               href="/track/">
                Track Report
            </a>

            <a class="btn btn-dark btn-sm"
               href="/dashboard/">
                Dashboard
            </a>

        </div>

    </div>

</nav>

<div class="container py-5">

{% block content %}

{% endblock %}

</div>

</body>

</html>