{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Government Dashboard</h2>

    <form method="GET" class="mb-4">

        <div class="input-group">

            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search by Tracking Code, Title or Department..."
                value="{{ search }}"
            >

            <button class="btn btn-primary" type="submit">
                Search
            </button>

        </div>

    </form>

    <div class="row mb-4">

        <div class="col-md-2 mb-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h6>Total</h6>
                    <h3>{{ total_reports }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-3">
            <div class="card text-center shadow-sm border-warning">
                <div class="card-body">
                    <h6>Pending</h6>
                    <h3>{{ pending_reports }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-3">
            <div class="card text-center shadow-sm border-info">
                <div class="card-body">
                    <h6>In Progress</h6>
                    <h3>{{ progress_reports }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-3">
            <div class="card text-center shadow-sm border-success">
                <div class="card-body">
                    <h6>Resolved</h6>
                    <h3>{{ resolved_reports }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-3">
            <div class="card text-center shadow-sm border-danger">
                <div class="card-body">
                    <h6>Duplicates</h6>
                    <h3>{{ duplicate_reports }}</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="card shadow">

        <div class="card-body">

            <div class="table-responsive">

                <table class="table table-hover align-middle">

                    <thead class="table-dark">

                        <tr>

                            <th>Tracking</th>
                            <th>Title</th>
                            <th>Priority</th>
                            <th>Department</th>
                            <th>Status</th>
                            <th>Duplicate</th>
                            <th>Duplicate Of</th>
                            <th>Action</th>

                        </tr>

                    </thead>

                    <tbody>

                    {% for report in reports %}

                    <tr>

                        <td>{{ report.tracking_code }}</td>

                        <td>{{ report.title }}</td>

                        <td>

                            {% if report.priority == "High" %}
                                <span class="badge bg-danger">
                                    {{ report.priority }}
                                </span>

                            {% elif report.priority == "Medium" %}
                                <span class="badge bg-warning text-dark">
                                    {{ report.priority }}
                                </span>

                            {% else %}
                                <span class="badge bg-success">
                                    {{ report.priority }}
                                </span>
                            {% endif %}

                        </td>

                        <td>{{ report.department }}</td>

                        <td>

                            {% if report.status == "Pending" %}

                                <span class="badge bg-warning text-dark">
                                    Pending
                                </span>

                            {% elif report.status == "In Progress" %}

                                <span class="badge bg-info">
                                    In Progress
                                </span>

                            {% else %}

                                <span class="badge bg-success">
                                    Resolved
                                </span>

                            {% endif %}

                        </td>

                        <td>

                            {% if report.is_duplicate %}

                                <span class="badge bg-danger">
                                    Yes
                                </span>

                            {% else %}

                                <span class="badge bg-success">
                                    No
                                </span>

                            {% endif %}

                        </td>

                        <td>

                            {% if report.duplicate_of %}

                                <span class="badge bg-secondary">

                                    {{ report.duplicate_of.tracking_code }}

                                </span>

                            {% else %}

                                —

                            {% endif %}

                        </td>

                        <td>

                            <a
                                href="{% url 'update_status' report.id %}"
                                class="btn btn-primary btn-sm">

                                Update

                            </a>

                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="8" class="text-center">

                            No reports found.

                        </td>

                    </tr>

                    {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

{% endblock %}